<img src="../../../assets/imagenes/2.jpg" alt="" class="header">
<h1 class="text-center"><span class="font-weight-bold">Bienvenido </span></h1>
<div class="row my-2 py-4">
    <div class="col-3"></div>
    <div class="col-6">
        <div class="row">
            <div class="col-6">
                <h3 class="text-center"> Reserve su turno</h3>
                <button class="btn btn-primary btn-block" routerLink='sistemadeturnos'> Reserva</button>
            </div>
            <div class="col-6">
                <img src="../../../assets/imagenes/header.jpg" alt="" class="rounded">
            </div>
        </div>
    </div>
    <div class="col-3"></div>
</div>