
<h3 class="title text-center mt-3 mx-3 mb-3 pb-1 rounded">Pendientes</h3>
<table class="table table-bordered ml-3">
    <thead>
        <tr>
            <th scope="col">NOMBRE</th>
            <th scope="col">APELLIDO</th>
            <th scope="col">EMAIL</th>
            <th scope="col">PROFESIONES</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor='let pendiente of pendientes' (click)='onTr(pendiente)'>
            <td>{{pendiente.nombre}}</td>
            <td>{{pendiente.apellido}}</td>
            <td>{{pendiente.email}}</td>
            <td>{{pendiente.profesiones}}</td>
        </tr>
    </tbody>
</table>
